
<div class="container">
  <div class="wrapper col-md-10 col-md-offset-1 col-sm-10">

    <p id="notice"><%= notice %></p>
    <div class="jumbotron">
      <p>
        <strong>User:</strong>
        <%= @task.user.name %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @task.title %>
      </p>

      <p>
        <strong>Content:</strong>
        <%= @task.content %>
      </p>

      <p>
        <strong>Deadline:</strong>
        <%= date_japan(@task.deadline) %>
      </p>

      <p>
        <strong>Charge:</strong>
        <%= @task.charge.name %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @task.status %>
      </p>
    </div>

    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>
  </div>
</div>