<div id="follow_form_<%= user.id %>">
  <br>
  <% unless current_user.following?(user) %>
    <%= form_for(current_user.relationships.build(followed_id: user.id),remote: true) do |f| %>
      <%= f.hidden_field :followed_id %>
      <%= f.submit "フォロー", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.find_by(follower_id: current_user.id, followed_id: user.id), method: :delete, remote: true) do |f| %>
      <%= f.hidden_field :follower_id %>
      <%= f.hidden_field :followed_id %>
      <%= f.submit "解除する", class: "btn btn-large btn-danger" %>
    <% end %>
  <% end %>
</div>