<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <%= form_for(@contact) do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :content %>
            
            <p>名前: <%= @contact.name %></p>
            <p>メールアドレス: <%= @contact.email %></p>
            <p>内容: <%= @contact.content %></p>
            <%= f.submit "送信", class: 'btn btn-primary btn-block' %>
        <% end %>
        
        <%= form_for(@contact, url: new_contact_path, method: 'get') do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :content %>
            <%= f.submit "戻る", name: 'back', class: 'btn btn-primary btn-block' %>
        <% end %>
    </div>
</div>